[submodule "mclv-48v-300w-an1292-dspic33ch1024mp710/secondary/library/library-motor"]
	path = mclv-48v-300w-an1292-dspic33ch1024mp710/secondary/library/library-motor
	url = https://github.com/microchip-pic-avr-solutions/library-motor
	branch = master
[submodule "mclv-48v-300w-an1292-dspic33ch1024mp710/secondary/library/library-x2cscope"]
	path = mclv-48v-300w-an1292-dspic33ch1024mp710/secondary/library/library-x2cscope
	url = https://github.com/microchip-pic-avr-solutions/library-x2cscope
	branch = master
